- date_range = calendar.date_range

%table.week
  %tr
    - date_range.each do |day|
      %th{:class => calendar_classes_for(day) }
        = day.localize("%a %e %b")
        - if (h = CompanyCalendar.holiday_on( day )).present?
          .holiday_name= h.name
        
  %tr
    - grouped_events = calendar.events.group_by {|e| e.date.to_date}
    - date_range.each do |day|
      - events = grouped_events[day] || []
      %td{:class => calendar_classes_for(day) }
        .day_wrapper
          / %span.day{:style => 'float:right'}= day.day
          - events.sort_by(&:date).each do |event|
            - project = event.project
            - if (new_time = show_only_on_change(event.date.strftime("%H:%M"), event.date.day ) ) 
              - if new_time != "00:00"
                .time= new_time
              - else
                .no-time &nbsp;
          
            .project.hoverable{:class => [(event.done? ? 'to_quote' : 'quoted'), event.event_type ].join(" ")}
              .name
                = link_to "[#{project.quote_number}]", project_path(project)
                = "#{project.contract_number} - " if project.contract_number.present?
                - if project.bsdq_date?
                  %span.bsdq BSDQ
                - if !@in_dashboard
                  = project.display_name
                - else
                  = truncate project.display_name, 80
              - if !@in_dashboard
                .estimator
                  - if event.event_type == 'visite' && event.user != project.estimator
                    == #{event.event_type} : #{event.user}
                    %br
                    == estimateur: #{project.estimator}
                  - else
                    = event.user
              .on-hover
                - if event.event_type == 'visite'
                  %strong Fermeture:
                  = project.close_quote_by.localize(:short) if project.close_quote_by
                  %br
                - elsif project.estimator != project.visitor
                  == </strong>Visite:</strong> #{project.visitor}
                  - if project.visit_date
                    %br
                    = project.visit_date.localize(:short)
                  %br
          
                == <strong>Statut:</strong> #{project.state_name}
                %br
                - if project.technology
                  == <strong>Technologie:</strong> #{project.technology.name}
                  %br
                - if project.region
                  == <strong>Région:</strong> #{project.region.name}
                  %br
                - if project.building_type
                  == <strong>Type d'immeuble:</strong> #{project.building_type.name}
                  %br
                - if project.tc_company
                  == <strong>Compagnie d'estimation:</strong> #{project.tc_company.name}
                  %br
                - if project.area.present?
                  == <strong>Superficie:</strong> #{project.area} pi. carré
                  %br
                - if project.quoted_roofer_time.present?
                  == <strong>Nb hres soum.:</strong> #{project.quoted_roofer_time}
                  %br
                - if project.quoted_amount.present? && project.quoted_amount != 0.0
                  == <strong>Montant soumissionné:</strong> #{number_to_currency project.quoted_amount}
                  %br
                - if project.caution_type
                  == <strong>Caution:</strong> #{project.caution_type.name}
                  %br
                - if project.addenda.present?
                  == <strong>Addenda:</strong> #{project.addenda}
                  %br
