- content_for :additional_headers do
  = stylesheet_link_tag 'quote_calendar', :media => :all

.page_header.project_header
  %h1== Semaine du #{@calendar.start_date} au #{@calendar.end_date}
.page_menu.project_header
  = tabnav :projects

.innercol
  %table{:style => "width:100%"}
    %tr
      %td{:style => "width:70%"}
        .section.w-search
          .header
            %h1 Filtre

          .body
            - form_for @calendar.search do |f|
              = hidden_field_tag :week_of, @calendar.start_date
              .first-col{:style => "width:50%;"}
                = render :partial => 'projects/list/role_filter', :locals => {:f => f}
              .second-col{:style => "width:50%;"}
                .group
                  = f.check_box :quote_in_progress, {:onchange => "this.form.submit();"}
                  %label Afficher seulement en soumission
              %br{:style => 'clear:both' }
              = f.submit "Filtrer"
              
      %td{:style => 'vertical-align: top' }
        #legend{:style => "margin: 0 10px"}
          .header
            %h1
              légende
          .body{:style => "font-weight: bold"}
            .project.visite visite
            .project.soumission en soumission
            .project.soumission.quoted soumissioné
  
  .month_nav
    %div{:style => 'float:right'}
      = link_to_next_week( @calendar.start_date )
    %div
      = link_to_previous_week( @calendar.start_date )
    
  %div{:style => 'clear:both'}

  = render :partial => 'calendar', :locals => {:calendar => @calendar}
  
  / Give space for hover at the bottomt
  %div{:style => 'height: 200px'}
    &nbsp;