<% projects = projects.sort_by {|p| p.list_sort_id } %>
<% title_link_to_options = title_link_to rescue nil %>
<h1>
  <% if title_link_to_options %>
    <span style='float:right; font-size: 11px'><%= link_to *title_link_to_options %></span>
  <% end -%>
  <%= title %>
</h1>
<table class='standard'>
  <tr>
    <th style='width:100px;'>Statut</th>
    <th style='width:100px;'>Date Entrée</th>
    <th>Projet</th>
  </tr>

<% for project in projects %>

  <tr class='<%= cycle("odd","even") %>'>
    <td>
      <span style='font-weight:bold;'><%= show_only_on_change project.state_name %></span>
    </td>
    <td><%= project.created_at.to_date.localize %></td>
    <td>
      <span style='text-decoration:underline;'><%= project.contract_number %></span> 
      <%= link_to project.display_name, project_path(project) %>
    </td>
  </tr>
  
<% end %>
</table>