<div id="link_message">
  <% form_tag linked_messages_url do %>
  <%= hidden_field_tag "linked_message[message_id]", @message.id %>
    <% result = "" %>
    <div class="suggest">
    <% if @message.received? %>
      
      <% Party.find_by_email(@message.sender_email).each do |party| 
           result += "<li><input type='radio' value='#{party.id}' name='linked_message[party_id]' /> #{display_icon(party)}</li>"
         end  %>
      
      <%=h @message.sender %>
      
      <% if result != "" %>
         <h2>Suggestions:</h2>
      <% else %>
         <%= image_tag("unknown.png", :border => 0)%>
         <h2>Pas de suggestion! Veuillez choisir une compagnie ou contact...</h2>
      <% end %>
      
    <% end %> 
    
        <ul>
          <%= result %>
          <li>
            <input type='radio' id='auto_party_id' name='linked_message[party_id]' /> Chercher:
            <%= text_field_tag "party_name", "", {:autocomplete => "off"} %>
            <%#= hidden_field_tag "linked_message[party_id]", "", :id => "auto_party_id" %>
            <div id="party_name_auto_complete" class="auto_complete" style="display:hidden;"></div>
            <%= auto_complete_field "party_name", 
                 {:url => {:controller => 'parties', :action => 'auto_complete_for_party_name'},
                 :select => 'informal',
                 :after_update_element => 
                   "function(element,value)  {
                      var nodes = value.getElementsByClassName('auto_id', value) || [];
                      if(nodes.length>0) id_value = Element.collectTextNodes(nodes[0],'auto_id');
                      $('auto_party_id').value = id_value;
                      $('auto_party_id').checked = true;
                    }"
                   } %>
          </li>
            
        </ul>
        <br/>
        
        <div>
          <h2> ou attacher à un projet</h2>
          Chercher: <%= auto_complete_project_id_text_field(:linked_message, :project_id) %>
        </div>
        
        <br/>
        <hr/>
        <br />
        
         <% first_linked_m = @message.linked_messages[0] %>
         Catégorie: <br/>
         <%= select_tag "linked_message[activity_category_id]", options_for_select(select_options_from_table(ActivityCategory, {:all_label => "aucune"}), first_linked_m ? first_linked_m.activity_category_id : nil ) %> <br/>
         Attaché avec ce titre: <br/>
         <%= text_field_tag "linked_message[title]", (first_linked_m ? first_linked_m.title : @message.subject), :size => '60' %>

        <br/>
        <br/>
        
        <%= button_to_function 'attacher', "this.form.submit();" %>
    </div>
  <% end %>

  
  OU
  <%= link_to_function (_("créer un nouveau contact avec cette adresse email: %s") % @message.sender_email), "$('new_contact_wrapper').toggle()", :class => 'action' %>
  <div id='new_contact_wrapper' style='display:none;'>
    <div class='suggest'>
    <% @contact = Contact.new(:set_name => @message.sender_name) %>
    <% form_for @contact do |f| %>
      <table>
        <tr>
          <td>
            <b>Prénom</b><br />
            <%= f.text_field :first_name, :size => 24 %>
          </td>
          <td>
            <b>Nom</b><br />
            <%= f.text_field :last_name, :size => 24 %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <b>Poste principal</b><br />
            <%= f.text_field :title, :size => 19 %> chez <%= text_field_with_auto_complete :contact, :company_name, { :size => 25 }, :url => {:controller => :contacts, :action => 'auto_complete_for_contact_company_name'} %>
          </td>
        </tr>
      </table>
      <%= hidden_field_tag "contact[contact_data_attrs][][type]", "Email" %>
      <%= hidden_field_tag "contact[contact_data_attrs][][value]", @message.sender_email %>
      <%= hidden_field_tag "contact[attach_to_message]", @message.id %>
      <%= submit_tag "Sauver et attacher" %>
    <% end %>
    </div>
  </div>
  <br />
  <br />
</div>
