<div class='page_header'>
  <h1><%= _("Envoi de message") %></h1>
</div>

<div class='innercol'>
  <%= error_messages(@message) %>
  <div id="message_form">
    <% form_for( @message, :html => {:id => 'reply_form', :multipart => true}) do |f| %>
      <%= f.hidden_field(:author_id)%>
      <%= f.hidden_field(:rfc2822_in_reply_to_id) %>
      <%#= hidden_field_tag "party_email", message_sender %>
      <label>Destinataire:</label>
          <p><%= f.text_field :to, :size => 60 %></p>
          <div id='message_to_auto_complete' class='auto_complete'></div>
          <%= auto_complete_field "message_to", {:url =>'/messages/auto_complete_for_ccs' ,:tokens => ','} %>
          
      <label>Copies conformes (cc1@email.com,cc2@email.com):</label>
          <p><%= f.text_field :cc, :size => 60 %></p>
          <div id='message_cc_auto_complete' class='auto_complete'></div>
          <%= auto_complete_field "message_cc", {:url =>'/messages/auto_complete_for_ccs' ,:tokens => ','} %>
          
      <label for="subject" >Sujet:</label>
          <p><%= f.text_field :subject, :size => 60 %></p>
      <label for="message" >Votre message:</label>
          <p>
            <%= f.text_area :body, {:cols => 60, :rows => 10} %>
            <br /><a href="#" onclick="javascript:Effect.toggle('my_sig','appear');">Voir ma signature</a>
            <div style="display:none;background-color:white;" id="my_sig">
              <%= generate_signature(current_user)%><br />
            </div>
          </p>
      <label for="attachments" >Attachment(s):</label>
      <div class='warning'>Attention! Il n'est pas recommandé d'envoyer plus de 10MB en attachement.</div>
      <% if @forwarded && @forwarded.attachments.size > 0 %>
        <%= hidden_field_tag :forward, @forwarded.id %>
        <div>A transferer: <%= @forwarded.attachments.collect {|att| att.filename }.join(", ") %></div>
      <% end %>
      <%= javascript_include_tag "multifile_compressed.js" %>
          <p><%= file_field_tag "uploaded_data" %></p>
          <div id="files_list">Fichiers (maximum 20):</div>
          <script>
             var multi_selector = new MultiSelector( document.getElementById( 'files_list' ), 20 );
             multi_selector.addElement( document.getElementById( 'uploaded_data' ) );
          </script>
          <br />
      <p><label for="draft">Brouillon</label> <%= f.check_box "draft"  %></p>
      <p><label for="private">Privé</label> <%= f.check_box "private"  %></p>
      <p>
        <label>Attaché au projet:</label><%= auto_complete_project_id_text_field(:message, :project_no) %></p>
      </p>
      <br />
      <%= button_to_function "ENVOYER", "
if ($('message_to').value.strip().length == 0) {
  alert('Il faut choisir au moins un destinataire!');
  return;
}
if ($('message_subject').value.strip().length == 0) {
  if (!confirm('Êtes-vous sûr de vouloir envoyer un message sans sujet?'))
    return;
}
if ($('message_body').value.strip().length == 0) {
  if (!confirm('Êtes-vous sûr de vouloir envoyer un message vide?'))
    return;
}
form.submit();
", 
:id => 'submit_button' %>
    <% end %>
  </div>

  <script type="text/javascript" charset="utf-8">
    function update_submit_button() {
      if ($('message_draft').checked)
        $('submit_button').value = "SAUVER";
      else
        $('submit_button').value = "ENVOYER";
    }
    update_submit_button();
  </script>
  <%= observe_field 'message_draft', :function => "update_submit_button();" %>
</div>
<!-- 
 -->
 
<% content_for :sidebar do %>
  
  <% if !@message.new_record? %>
    <p><%= link_to _("version imprimable"), formatted_message_url(@message, :print), :popup => true, :class => 'printer' %></p>
  <% end %>
<% end -%>