%tr{:id=>dom_id(item)}
  %td{:class=>"tag"} Note
  %td{:class=>"date"}= item.updated_at.localize(:short)
  %td{:class=>"description"}
    - if item.category
      .category.right= item.category.name
    = simple_format item.body
    %div{:id=>dom_id(item, "description_cell")}
    %td{:class=>"person"}= highlight_current_user( item.user )
    %td{:class=>"actions"}
      = button nil, edit_note_url( item ), :icon=>"/images/design/icon-edit.png", :size=>:small, :remote=>true, :update=>dom_id(item, "description_cell")
      -  if current_user.has_permission?("destroy_notes") || item.has_owner?(current_user)
        = button nil, note_url(:id => item), :icon=>"/images/design/icon-close.png", :size=>:small, :type=>:delete, :remote=>true, :method=>:delete