= error_messages @invoice
%table{:class => "standard"}
  %tr
    %th= "# Facture"
    %th= "Date facture"
    %th= "Montant ($)"
    %th= "Coût M.O. $"
    %th= "Coût Matériaux $"
    %th= "Coût Équip. $"
    %th= "&nbsp;"
  %tr
    %td= f.text_field :invoice_no, :size => '5'
    %td= calendar_field :invoice, :invoice_date, { :class => 'calendar_class', :button_title => _("choisir une date")}, { :firstDay => 0, :ifFormat => '%Y-%m-%d', :range => [2000, 2030], :step => 1 }
    %td= f.text_field :invoice_amount, :size => '10'
    %td= f.text_field :roofer_cost, :size => '10'
    %td= f.text_field :materials_cost, :size => '10'
    %td= f.text_field :machinery_cost, :size => '10'
  %tr
    %td{:colspan => 6, :align => "left"}= button_form_submit
