%tr
  %td{:width => 20}= intervention.completed? ? check_box_tag("invoice[attached_interventions][#{intervention.id}][checked]", "checked", :checked => true) : "&nbsp;"
  %td= intervention.foreman
  %td= intervention.date_fr
  %td= intervention.scheduled_time
  %td= intervention.work_time || 0
  %td= select_tag "invoice[attached_interventions][#{intervention.id}][invoice_type]", options_for_select(Intervention.invoice_type_select_options, intervention.invoice_type )
  %td= intervention.completed? ? "Oui" : "<span class='highlight'>Non</span>"
%tr
  %td= ""
  %th= "Commentaire:"
  %td{:colspan => 5}= text_field_tag "invoice[attached_interventions][#{intervention.id}][invoice_comment]", intervention.invoice_comment, :size => 60