.page_header.service_header
  %h1 
    Facturation service:
    = "##{@work_sheet.project.call_number}"
    =h @work_sheet.display_name
    %span
      = link_to "voir bon de travail", project_work_sheet_url(@work_sheet.project, @work_sheet)
  - form_for(@work_sheet) do |f|
    #worksheet{:style => "padding: 10px 0 10px 0;"}
      = hidden_field_tag :project_id, @work_sheet.project.id
      Gestionnaire:
      = f.select :manager_id, User.to_select_options({:all_label => _("gestionnaire ?"), :size => "short"}, Role.find_by_name('gestionnaire de compte').users.active),{}, :style => "width: 120px;"
      &nbsp;
      Chargé de projet:
      = f.select :project_manager_id, User.to_select_options({:all_label => _("chargé projet ?"), :size => "short"}, Role.find_by_name('chargé de projet').users.active),{}, :style => "width: 120px;"
      = button_form_submit
.page_menu.service_header
  = tabnav :invoice
      
.innercol
  - if @work_sheet.not_invoiced_interventions.size > 0
    -display_flash(:warning)
    -form_for([@work_sheet,@invoice]) do |f|
      =render :partial => "form", :locals => {:f => f}
  
      %h2 Sélectionner des Interventions à associer à cette facture
      %table{:class => "standard"}
        %tr
          %th{:width => 20}
          %th= "Chef d'équipe"
          %th= "Date de l'intervention"
          %th= "Temps prévu (h)"
          %th= "Temps réel (h)"
          %th= "Type"
          %th= "Complétée?"
        
          = render :partial => "intervention", :collection => @work_sheet.not_invoiced_interventions

  - else
    .help= "Pas d'interventions à facturer, veuillez sélectionner vos factures ci-dessus."