<div class='page_header'>
  <h1>Liste Ententes</h1>
</div>

<div class='innercol'>
  <%#= will_paginate @contracts %>
  
  <table class='standard'>
    <%- @contracts.each do |contract|%>
      <tr class='<%= cycle 'odd', 'even' %>'>
        <td><%= link_to "#{contract.number} - #{contract.contract_type}", object_url(contract) %></td>
        <td>
            <%= link_to display_icon(contract.client, contract.client.quick_search_name), contract.client %><br/>
        </td>
        <!-- <td><%=link_to 'Show', object_url(contract) %></td>
        <td><%=link_to 'Edit', edit_object_url(contract) %></td>
        <td><%=link_to 'Destroy', object_url(contract), :confirm => 'Are you sure?', :method => :delete %></td> -->
      </tr>
    <% end %>
  </table>
  
</div>

