<p>
  <%= _("Contrat initial") %>: <br />
  <%= f.text_field :initial_contract_amount %>
</p>
<p>
  <%= _("Contrat après extra") %>: <br />
  <%= f.text_field :with_extra_contract_amount %>
</p>
<p>
  <%= _("Coût initial prévu") %>: <br />
  <%= f.text_field :estimated_initial_costs %>
</p>
<p>
  <%= _("Coût exécuté à ce jour") %>: <br />
  <%= f.text_field :as_of_today_costs %>
</p>
<p>
  <%= _("Inventaire Chantier") %>: <br />
  <%= f.text_field :inventory_amount %>
</p>
<p>
  <%= _("Coût à compléter") %>: <br />
  <%= f.text_field :to_be_completed_costs %>
</p>
<p>
  <%= _("Facturation au 31 déc.") %>: <br />
  <%= f.text_field :invoiced_amount %>
</p>
