<div class='page_header'>
  <h1><%= _("Travaux en cours au 31 déc.") %></h1>
</div>

<div class='innercol'>
  <%= error_messages @accounting_item %>
  <% form_for(:accounting_item, :url => project_accounting_items_path(@project)) do |f| %>
    <p>
      <%= _("Année fiscale") %>: <br />
      <%= f.select :financial_year, ((Time.now - 3.years).strftime("%Y").to_i)..(Time.now.strftime("%Y").to_i), :selected => @accounting_item.financial_year.to_i %>
    </p>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= form_submit %>
  <% end %>
  
</div>
