#task_form_wrapper.form_wrapper
  - remote_ui_form_for(:task, :url => complete_task_path(@task)) do |f|
    - group "Marquer la tâche comme complétée" do
      - f.form_row :now, :label=>"Aujourd'hui" do
        = radio_button_tag 'complete_date', 'now', true
      - f.form_row :scheduled, :label=>"le #{@task.scheduled_date.to_s} (date cédulée)" do
        = radio_button_tag 'complete_date', 'scheduled'
      = button "Compléter"
      %span
        ou
        :ruby
          concat link_to_function "annuler", update_page{|page| 
                                          page.replace_html(dom_id(@task,'edit'), "")
                                          page << "$('#{dom_id(@task,'complete_check')}').checked = false;"}