<h1>Filtres:</h1>
<div class='filter'>
  <% form_tag  do %>
  <%= hidden_field_tag :_method, :get %>
  <table>
    <tr>
      <td><%= _("Voir les tâches de") %>:</td>
      <td><%= select_tag "user_id", grouped_user_options(params[:user_id]) %></td>
    <tr/>
    <tr>
      <td><%= _("Par catégorie") %>: </td>
      <td><%= select_tag "activity_category_id", 
                  options_for_select(
                    (select_options_from_table( ActivityCategory, 
                      {:all_label => "toutes", :all => true}
                    ) << ( Account.current_account.tc? ? ['Non processus', -1] : nil)).compact, 
                  params[:activity_category_id].to_i) %></td>
    <tr/>
    <% unless params[:collection] == 'completed' %>
    <tr>
      <td><%= _("Voir tâches") %>: </td>
      <td><%= select_tag "calendar", options_for_select( [ ["Toutes", 0], ["Calendrier", 1] ] , params[:calendar].to_i) %></td>
    <tr/>
    <% end %>
    
  </table>
    <div>
      <%= radio_button_tag :specific_date, "false", params[:specific_date] == "false" || params[:specific_date].nil?, :onclick => "toggleFilterCalendar();" %> Tous<br />
      <%= radio_button_tag :specific_date, "true", params[:specific_date] == "true", :onclick => "toggleFilterCalendar();" %> Date spécifique<br />
      <%= inline_calendar_field_tag "task_date", params[:task_date],
      { :class => 'calendar_class',
        :button_title => _("choisir une date")
      },
      { :firstDay => 0,
        :range => [2000, 2030],
        :step => 1
      } %>
      <%= javascript_tag "
        function toggleFilterCalendar() {
          $('task_date_calendar').toggle();
        }

        if ( $('specific_date_false').checked )
          toggleFilterCalendar();
      " %>
    </div>
    <br />
    <%= submit_tag _("Filtrer") %>
  <% end %>
</div>
