= f.hidden_field :party_id unless @task.project 
= f.hidden_field :project_id

= f.text_area :body, :label=>"Quoi:", :rows => 2

- benchmark "involved parties" do
  - if @task.project
    = f.select :party_id, involved_parties_select(@task.project), :label=>"Intervenant:"

- benchmark "involved parties" do
  - f.form_row(:scheduled_date, :label=>"Quand:") do
    = fuzzy_date_select "task", "scheduled_date"

- benchmark "grouped user" do
  - f.form_row(:user_id, :label=>"Qui:") do
    = select_tag 'task[user_id]', grouped_user_options(@task.user_id, :all_label => "-- personne --")

- benchmark "categories" do
  = f.select :activity_category_id, select_options_from_table(ActivityCategory, {:all_label => "aucune"}), :label=>"Catégorie:"
  = f.check_box :private, :label=>"Privé?:"
