.page_header
  %h1 Liste des équipements

.innercol
  .section.w-search
    .header
      %h1 Recherche
    
    .body
      - form_for @search, :url => equipments_url do |f|
        .group
          %label No:
          .value= f.text_field :no_contains
        
        .group
          %label Description:
          .value= f.text_field :description_contains
        
        .group
          %label Prêté à:
          .value= f.select :borrower_id, User.to_select_options
        
        .group
          %label Status:
          .value
            = f.select :status_id, select_options_from_table(EquipmentStatus, :all_label => Equipment::DEFAULT_STATUS)
            
        %br{:style => 'clear:both' }
        = f.submit "Chercher"

  %div{:style=>'margin:10px 0'}
    = pagination( @equipments )
  
  %table.standard
    %thead
      %tr
        %th= order @search, {:by => :no, :as => 'No'}, {:class => 'sort_link'}
        %th= order @search, {:by => :description, :as => 'Description'}, {:class => 'sort_link'}
        %th Marque / Modèle
        %th Prêté à
        %th Statut
    %tbody
      - @equipments.each do |equipment|
        - tr_class = cycle("odd","even")
        %tr{:class => tr_class }
          %td=h equipment.no
          %td= link_to( (equipment.description.present? ? equipment.description : "---"), object_url(equipment) )
          %td
            =h equipment.brand
            =h equipment.model
          %td= equipment.borrower
          %td=h equipment.status_name
  
  = pagination( @equipments )

- content_for :sidebar do
  
  - if current_user.has_permission?("create_and_update_equipments")
    %h1 Actions
    .new
      = link_to 'Ajouter un équipement', new_object_url, :class => 'new'
    .new
      = link_to 'liste excel', equipments_url(:format => 'csv'), :class => 'printer'
    %h1 Mise-à-jour km
    %div{:style => 'margin-left:10px'}
      - remote_form_for :equipment, :url => quick_update_equipments_url, :method => :post do |f|
        NO:
        = f.text_field :no, :size => 6
        km:
        = f.text_field :kilometrage, :size => 6
        = f.submit "sauver", :disable_with => 'sauvegarde ...'
    
      #updated_equipments
  