.page_header
  %h1 Jours ouvrables par semaine pour fin de planification

.innercol  
  
  #holiday_form.w-search
    .header
      %h1 Ajouter
    .body
      = error_messages_for :wwe
      - form_for @wwe do |f|
        .group
          = f.label :date, "Date Début"
          = f.calendar_date_select :start_date
        .group
          = f.label :end_date, "Date Fin"
          = f.calendar_date_select :end_date
        .group
          = f.label :days_per_week, "Jours ouvrables"
          = f.text_field :days_per_week, :size => 6
          == / semaine
        %br
        = f.submit "Ajouter au calendrier"
  %table.standard
    - @wwes.each do |wwe|
      - month_name = show_only_on_change(wwe.start_date.localize("%B %Y"))
      - if month_name
        - alt_tr do
          %td.month_name{:colspan => 4, :style => 'font-weight: bold;'}= month_name
      - alt_tr do
        %td= wwe.start_date
        %td= wwe.end_date
        %td= "#{wwe.days_per_week} j"
        %td= link_to( image_tag('trash.gif'), work_week_expectation_url(wwe), :method => :delete, :confirm => 'Êtes-vous sûrs?')
