<div class='page_header'>
  <h1>Travaux en cours au 31 déc. <%= params["financial_year"] %></h1>
</div>

<div class='innercol'>
  <div class='report_filter'>
    <% form_tag do %>
      <%= hidden_field_tag :_method, :get %>
      Année financière: <%= select_tag('financial_year', options_for_select( ( (Time.now - 3.years).strftime("%Y").to_i)..(Time.now.strftime("%Y").to_i), params[:financial_year].to_i ) ) %>
      <%= submit_tag 'mettre à jour' %>
      <%= check_box_tag('format', value = "csv", checked = true)%> au format csv?
    <% end -%>
  </div>
  
  <% if @accounting_items.length > 0%>
    <h1>Travaux en cours</h1>
    <table class='standard'>
      <tr>
        <th>Numéro de projet</td>
        <th>Projet</td>
        <th style="text-align: right;">Contrat après extra</td>
        <th style="text-align: right;">Coût Total</th>
        <th style="text-align: right;">Fact. au 31 déc.</th>
        <th style="text-align: right;">Travaux en cours</th>
        <th style="text-align: right;">Revenus reportés</th>
        <th style="text-align: right;">Profit selon avancement réel</th>
      </tr>
    <% for accounting_item in @accounting_items %>
      <tr height="60" class='<%= cycle("odd","even") %>'>
        <td><%= link_to accounting_item.project.contract_number, project_accounting_items_path(accounting_item.project) %></td>
        <td><%= accounting_item.project.name %></td>
        <td style="text-align: right;"><%= number_to_currency accounting_item.with_extra_contract_amount %></td>
        <td style="text-align: right;"><%= number_to_currency accounting_item.total_cost %></td>
        <td style="text-align: right;"><%= number_to_currency accounting_item.invoiced_amount %></td>
        <td style="text-align: right;"><%= number_to_currency accounting_item.current_work %></td>
        <td style="text-align: right;"><%= number_to_currency accounting_item.translated_revenue %></td>
        <td style="text-align: right;"><%= number_to_currency accounting_item.real_profit %></td>
      </tr>
    <% end %>
    <tr height="40">
      <th colspan="2">&nbsp;</td>
      <th style="width: 120px; text-align: right;"><%= number_to_currency @accounting_items.sum(:with_extra_contract_amount) %></td>
      <th style="width: 120px; text-align: right;"><%= number_to_currency @accounting_items.sum_total_cost(params["financial_year"]) %></th>
      <th style="width: 120px; text-align: right;"><%= number_to_currency @accounting_items.sum(:invoiced_amount) %></th>
      <th style="width: 120px; text-align: right;"><%= number_to_currency @accounting_items.sum_current_work(params["financial_year"]) %></th>
      <th style="width: 120px; text-align: right;"><%= number_to_currency @accounting_items.sum_translated_revenue(params["financial_year"]) %></th>
      <th style="width: 120px; text-align: right;"><%= number_to_currency @accounting_items.sum_real_profit(params["financial_year"]) %></th>
    </tr>
    </table>
  
  <% else %>
    <div class="help">Vous n'avez pas de travaux en cours pour l'année sélectionnée.</div>
  <% end %>
</div>