-content_for :filtre do
  
  -filter_for @search, "Filtres de recherche", :url => {:controller => :projects, :collection => params[:collection]} do |f|
    = render :partial => 'projects/list/role_filter', :locals => {:f => f}
    = f.select :state, Project.state_categories[:active].map {|s| [Project.states_name[s], s.to_s] }.unshift(["tous", nil]), {}, :onchange => "this.form.submit();"
    = button "Filtrer"


-content_for :sidebar do
  - sidebar_group do
    -sidebar_row do
      = button "Version Excel", print_active_list_url(params[:search].only("estimator_id", "state", "manager_id")), :class => 'printer', :style => 'margin: 0 auto;' 


- content_for :full_content do

  .ProjectList
    %table
      %thead
        %tr
          = column_header "No", @search, :contract_number
          = column_header "Projet", @search, :name
          = column_header "Intervenants"
          = column_header "Statut"
          = column_header "Début", @search, :work_start_date
      %tbody
        - for project in projects
          %tr
            %td= project.contract_number
            %td{:class=>"tags"}
              - if project.building
                .tag.right
                  = display_party_contract(project.building)
              = link_to project.display_name, project_path(project)
            %td{:class=>"people"}
              = render :partial=>"/projects/list/project_involvements", :locals=>{:project=>project}
            %td= project.state_name
            %td= late_date(project.work_start_date.to_time, :short_date) if project.work_start_date
    = will_paginate projects, :renderer=>UiPaginationRenderer, :previous_label=>"Précédente", :next_label=>"Prochaine"
