-content_for :filtre do
  
  -filter_for @search, "Filtres de recherche", :url => {:controller => :projects, :collection => params[:collection]} do |f|
    = render :partial => 'projects/list/role_filter', :locals => {:f => f}
    = f.select :state, Project.state_categories[:closed].map {|s| [Project.states_name[s], s.to_s] }.unshift(["tous", nil]), :onchange => "this.form.submit();"
    = button "Filtrer"

-content_for :full_content do

  .ProjectList

    %table.standard.project_list
      %thead
        %tr
          = column_header "No", @search, :contract_number
          = column_header "Projet", @search, :name
          = column_header "Intervenants"
          = column_header "Statut"
          = column_header "Début", @search, :work_end_date
      %tbody
        - for project in projects
          %tr
            %td= project.contract_number
            %td{:class=>"tags"}
              - if project.building
                .tag.right
                  = display_party_contract(project.building)
              = link_to project.display_name, project_path(project)
            %td{:class=>"people"}
              = render :partial=>"/projects/list/project_involvements", :locals=>{:project=>project}
            %td= project.state_name
            %td= project.work_end_date.localize(:short).gsub(/\s/, "&nbsp;") if project.work_end_date

    = will_paginate projects, :renderer=>UiPaginationRenderer, :previous_label=>"Précédente", :next_label=>"Prochaine"

