-content_for :filtre do
  
  -filter_for @search, "Filtres de recherche", :url => {:controller => :projects, :collection => params[:collection]} do |f|
    = hidden_field_tag :collection, params[:collection]
    = render :partial => 'projects/list/role_filter', :locals => {:f => f}
    = f.select :prospect_status_id, select_options_from_table(ProspectStatus, {:all_label=>_("tous")}), {}, {:onchange => "this.form.submit();"}
    = f.calendar_date_select :quote_date_gte, :label=>"Date soumission entre le", :value => params[:search][:quote_date_gte], :size => 10, :onchange => "this.form.submit();"
    = f.calendar_date_select :quote_date_lte, :label=>"et le", :value => params[:search][:quote_date_lte], :size => 10, :onchange => "this.form.submit();"
    = button "Filtrer"
    
-content_for :sidebar do
  - sidebar_group do
    - sidebar_row do
      = button "Rapport", print_prospect_list_url(params[:search].only("estimator_id", "prospect_status_id", "manager_id")), :popup => true, :class => 'printer', :style => 'margin: 0 auto;'
    -sidebar_row do
      = button "Rapport avec contacts", print_prospect_list_url(params[:search].only("estimator_id", "prospect_status_id", "manager_id").merge(:include_contacts => true)), :popup => true, :class => 'printer', :style => 'margin: 0 auto;' 
    -sidebar_row do
      .total{:style=> "font-size:16px; padding: 8px; text-align: center;"}
        Temps:
        = display_hours @total_quoted_roofer_time
    - sidebar_row do
      .total{:style=> "font-size:16px; padding: 0 8px 8px; text-align: center;"}
        Montant:
        = number_to_currency @total_quoted_amount

- content_for :full_content do

  .ProjectList
    %table
      %thead
        %tr
          = column_header "No", @search, :quote_number
          = column_header "Soumission", @search, :quote_date
          = column_header "Statut", @search, :prospect_status_name
          = column_header "Projet", @search, :name
          = column_header "Intervenants"
          = column_header "Début"
          = column_header "Temps", @search, :quoted_roofer_time
          = column_header "Montant", @search, :quoted_amount
      %tbody
        - for project in projects
          %tr
            %td= project.quote_number
            %td= project.quote_date.to_date.localize(:short).gsub(/\s/, "&nbsp;") if project.quote_date
            %td= project.prospect_status.name if project.prospect_status
            %td{:class=>"tags"}
              - if project.building
                .tag.right
                  = display_party_contract(project.building)
              = link_to project.display_name, project_path(project)
            %td{:class=>"people"}
              = render :partial=>"/projects/list/project_involvements", :locals=>{:project=>project}
            %td= project.possible_work_start_date
            %td= display_hours project.quoted_roofer_time
            %td= number_to_currency project.quoted_amount
    = will_paginate projects, :renderer=>UiPaginationRenderer, :previous_label=>"Précédente", :next_label=>"Prochaine"
