.page_header
  %h1 Liste des utilisateurs
  %h2.info= "Sélectionner un de ces utilisateurs afin de modifier ses informations."
  
.innercol
  .section.w-search
    .header
      %h1 Recherche
    
    .body
      - form_for @search, :url => {:controller => :users} do |f|
        .group
          %label Nom:
          .value= f.text_field :last_name_contains
        
        .group
          / - f.fields_for @search.permissions do |perm|
          %label Permission:
          .value= f.select :permissions_name_equals, Permission::PERMISSIONS.map {|p| [I18n.t(p, :scope => :permission), p ]}, :include_blank => true
        
        .group
          %label Role:
          .value= f.select :roles_id_equals, Role.find(:all, :order => 'name').map {|r| [r.name, r.id]}, :include_blank => true
        
        .group
          %label Niveau:
          .value= f.select :access_level, User::ACCESS_LEVELS, :include_blank => true
        
        .group
          %label Accès à C3:
          .value= f.check_box :system_user
        
        .group
          %label Inactif:
          .value= f.check_box :deleted
        
        %br{:style => 'clear:both' }
        = f.submit "Chercher"
        
  %div{:style=>'margin:10px 0'}
    = pagination( @users )
    
  %table.standard
    %th{:style => 'width:160px'} Nom
    %th Role(s)
    %th.right{:style => 'width:120px'} Dernière connexion
    
    - @users.each do |user|
      - alt_tr do
        %td= link_to user.full_name, :action => 'edit', :id => user.id
        %td= user.role_list
        %td.right= user.last_login_at ? user.last_login_at.localize : ""
  
  %div{:style=>'margin:10px 0'}
    = pagination( @users )

- content_for :sidebar do
  .new
    = link_to _("Nouvel Utilisateur"), {:action => 'new'}, :class => 'new'
