<%= error_messages @mailing_list %>

<% form_for(@mailing_list) do |f| %>
  <p>
    <b>Nom</b><br />
    <%= f.text_field :name %>
  </p>
  
  <br />
    Chercher un destinataire:
  <p><%= text_field_tag "message[to]", "", :size => 40, :id => 'message_to' %></p>
  <div id='message_to_auto_complete' class='auto_complete'></div>
  <%= auto_complete_field "message_to", {:url =>'/messages/auto_complete_for_ccs',
        :after_update_element => "function (element, value) {
  var str = $('message_to').value;
  var recipients = $('mailing_list_recipients').value.strip();
  if (recipients.length > 0)
    recipients = recipients + ', ';
  recipients = recipients + str;
  $('mailing_list_recipients').value = recipients;
  $('message_to').value = '';
}
      "} %>

  <p>
    <b>Destinataires</b>
    <span class='info'>(séparé par une virgule)</span>
    <%= f.text_area :recipients %>
  </p>

  <!-- <p>
    <b>Privé</b>:
    <%= f.check_box :private %>
  </p> -->

  <%= button_form_submit %>

<% end %>