<div class='page_header'>
  <h1>Listes d'envois</h1>
</div>

<div class='innercol'>

  <table class='standard'>
    <th></th>
    <th>nom</th>
    <th>destinataires</th>
    <th></th>
    
    <% for mailing_list in @mailing_lists %>
      <tr class='<%= cycle("odd","even") %>'>
        <td><%= link_to 'Nouveau message', new_message_url(:mailing_list_id => mailing_list.id) %></td>
        <td><%= link_to mailing_list.name, edit_mailing_list_path(mailing_list) %></td>
        <td><%=h( truncate( mailing_list.recipients, :length => 100) ) %> <strong>(<%= mailing_list.recipients_count %>)</strong></td>
        <td><%= link_to 'Supprimer', mailing_list, :confirm => 'êtes-vous sûr?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
  
</div>

<% content_for :sidebar do %>
  <div class='new'>
      <%= link_to _("Nouvelle liste"), new_mailing_list_url, :class => :new %>
  </div>
<% end -%>
