<div class='page_header'>
  <h1>Statistiques contrat par <%= grouped_by %> entre le <%= params["min_start_date"] %> et le <%= params["max_start_date"] %></h1>
</div>

<% fields = [
  ["total_income", :money],
  ["total_cost", :money],
  ["total_material_cost", :money],
  ["gross_profit", :money],
  ["total_time", :time]
  ]
%>

<div class='innercol'>
  <div class='report_filter'>
    <% form_tag do %>
      <%= hidden_field_tag :_method, :get %>
      Grouper par: 
        <%= select_tag "group",
                  options_for_select(stats_group, params[:group]) %>
      entre <%= calendar_date_select_tag "min_start_date", params["min_start_date"], :size => 10 %>
      et le <%= calendar_date_select_tag "max_start_date", params["max_start_date"], :size => 10 %>
      statut <%= select_tag "states[]", options_for_select(stats_status, params["states"]), :multiple => true %>
      <%= submit_tag 'grouper' %>
      <%= check_box_tag('format', value = "csv", checked = false)%> au format csv?
    <% end -%>
  </div>
  
  <div class='report_filter'>
    <h2>Index</h2>
    <ul style='list-style:disc inside;'>
      <% @grouped_stats.keys.sort_by(&:to_s).each do |group_name| %>
        <li><%= link_to report_group_name(group_name), "##{report_group_dom_id(group_name)}" %></li>
      <% end -%>
    </ul>
  </div>
  
  <% ordered_keys = @grouped_stats.keys.sort_by(&:to_s)
     ordered_keys.each do |group_name|
      stats = @grouped_stats[group_name] %>
  <div class='report_group' id='<%= report_group_dom_id(group_name) %>'>
    <h1><%= report_group_name(group_name) %> - (<%= stats.size %> projets)</h1>
    
    <h2>Résumé</h2>
    <table class='report stats_report stats_summary'>
      <tr>
        <th>&nbsp;</th>
        <th style='text-align: right;padding-right: 10px;'>Budget</th>
        <th style='text-align: right;padding-right: 10px;'>Réel</th>
        <th style='text-align: right;padding-right: 10px;'>Écart</th>
      </tr>
      <% for field in fields %>
        <tr>
          <td class='tr_header'><%= ContractSummary::FIELDS_TRANSLATION[field[0]] %>: </td>
          <td><%= format_field( stats.sum {|line| line.send("budget_#{field[0]}")}, field[1]) %></td>
          <td><%= format_field( stats.sum {|line| line.send("real_#{field[0]}")}, field[1]) %></td>
          <td><%= format_field( stats.sum {|line| line.send("variation_#{field[0]}")}, field[1]) %></td>
        </tr>
      <% end -%>
    </table>
    
    
    <h2>Détails</h2>
    <table class='standard report stats_report'>
      <thead>
        <tr>
          <td colspan='16' style='text-align:left;font-size:16px;padding:8px 0px;width: 100%;'>
            Statistiques contrat pour <%= group_name.to_s.blank? ? "(non défini)" : group_name.to_s %> entre le <%= params["min_start_date"] %> et le <%= params["max_start_date"] %>
        </tr>
        <tr>
          <th>Projet</th>
        <% for field in fields %>
          <th colspan='3' class='group_start'><%= ContractSummary::FIELDS_TRANSLATION[field[0]] %></th>
        <% end -%>
        </tr>
        <tr>
          <th>&nbsp;</th>
        <% for field in fields %>
          <th style='text-align: right;' class='group_start'>Budget</th>
          <th style='text-align: right;'>Réel</th>
          <th style='text-align: right;'>Écart</th>
        <% end -%>
        </tr>
      </thead>
      <tbody style='font-size:10px;'>
        <% for line in stats %>
          
          <tr class='<%= cycle("odd","even") %>'>
            <td colspan='16' style='text-align:left;padding-top: 5px;width: 100%;'>
              <%= link_to "#{line.contract_number} - #{line.project_name}", line.project %>
              <%= "(#{line.state_name})" unless line.state == 'finished' %>
            </td>
          </tr>
          <tr class='<%= cycle("odd","even") %>'>
            <th>&nbsp;</th>
          <% for field in fields %>
            <td class='group_start'><%= format_field line.send("budget_#{field[0]}"), field[1] %></td>
            <td><%= format_field line.send("real_#{field[0]}"), field[1] %></td>
            <td><%= format_field line.send("variation_#{field[0]}"), field[1] %></td>
          <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  <% end %>
  
  
</div>