.report_group.force-print.stats-group{ :id => report_group_dom_id(group_name), :style => 'display:none;'}
  %div
    %table.standard.report.stats_report
      %thead
        %tr
          %td{ :colspan => 7, :style => 'text-align:left;font-size:16px;padding:8px 0px; width: 100%;'}
            == Statistiques ventes pour #{report_group_name(group_name)} entre le #{params["min_start_date"]} et le #{ params["max_start_date"]}
        %tr
          %th Projet
          %th.right No Demande
          %th.right Date Demande
          %th.right No soumission
          %th.right Date soumission
          %th.right Montant Soumission
          %th.right Montant Facturé
          %th.right Gagné?
      %tbody
        - stats.each do |line|
          - alt_tr do
            %td{ :style => 'width:200px;text-align:left;'}= link_to "#{line.contract_number} - #{line.name}", line
            %td= line.call_number 
            %td= line.created_at.to_date.localize(:short) 
            %td= line.quote_number 
            %td= line.quote_date.to_date.localize(:short) if line.quote_date 
            %td= number_to_currency line.quoted_amount 
            %td= (!line.was_quoted? && line.service? && @invoiced_amounts[line.id]) ? number_to_currency( @invoiced_amounts[line.id]["amount"] ) : "-"
            %td= line.was_won? ? "Oui" : ""
