<table class='standard report'>
  <tr>
    <th class="right">Hres réelles</th>
    <th class="right">Cout M.O.</th>
    <th class="right">Cout Materiaux</th>
    <th class="right">Cout Equipement</th>
    <th class="right">Montant facturé</th>
    <th class="right">Profit</th>
    <th class="right">% profit</th>
  </tr>
  <tr>
    <td style='width:13%;'><%= display_hours stats.sum {|l| l.real_time } %></td>
    <td style='width:13%;'><%= number_to_currency stats.sum {|l| l.roofer_cost } %></td>
    <td style='width:13%;'><%= number_to_currency stats.sum {|l| l.materials_cost } %></td>
    <td style='width:13%;'><%= number_to_currency stats.sum {|l| l.machinery_cost } %></td>
    <td style='width:13%;'><%= number_to_currency ( sum_total = stats.sum {|l| l.invoice_amount }) %></td>
    <td style='width:13%;'><%= number_to_currency ( sum_profit =  stats.sum {|l| l.profit }) %></td>
    <td style='width:13%;'><%= number_to_percentage( (((sum_profit / sum_total).to_f * 100.0) rescue 0 ), :precision => 2 )%></td>
  </tr>
</table>