<%= mailbox_page_header %>

<div class='innercol'>
  
  <% message_list(@messages) do %>
  
    <% form_tag no_inbox_url, :method => :delete do  %>
      <table id="inbox_messages" class="message_rows">
        
        <tr class='message_header'>
          <td class="checkbox_toggle" align="left" colspan="5" style='width:100%;'>
            <% check_all_delete {} %>
          </td>
        </tr> 

      <% for message in @messages %>
        <tr>
          <td class="checkbox_toggle">
            <%= check_box_tag "ids[#{message.id}]" %>
          </td>
          <td class="name">
            De: <%=h message.sender %><br />
            À: <%= display_recipient_list(message.message_recipients.kind_to) %>
          </td>
          <td class="subject">
            <%= subject_wrap message %>
          </td>
          <td>
            <%= message_icons message %>
          </td>
          <td class='date'>
            <%= shortest_date( message.created_at ) %>
          </td>
        </tr>      
      <% end %>
      
      </table>
    <% end %>

  <%end%>
  
</div>

<% content_for :sidebar do %>
  <div class='new'>
      <%= link_to _("Nouveau message"), new_message_url, :class => :new %>
  </div>
<% end %>