#bidders
  .header
    %h1
      %span= link_to_function "ajouter", "$('new_bidder_form').toggle();", :class => 'action'
      Soumissionnaires
  
  .body
    #new_bidder_form{:style => "#{"display:none;" unless @show_bidder_form} background-color: lightyellow;padding:5px;"}
      - @bidder ||= @project.bidders.new
      - form_for([@project, @bidder]) do |f|
        = render :partial => '/bidders/form', :locals => {:f => f}
    #bidders_table
      %table.standard
        %tr
          %th &nbsp;
          %th Prix
          / %th Position
          %th &nbsp;
        - alt_tr do
          %td Toitures Couture
          %td= number_to_currency @project.quoted_amount
          / %td= @project.bid_position
          %td &nbsp;
        - @project.bidders.each do |bidder|
          - alt_tr do
            %td
              = bidder.won? ? image_tag("ok.png") : ""
              = bidder.name
            %td= number_to_currency bidder.bid
            / %td= bidder.position
            %td
              = link_to image_tag('edit.png', :border => 0), edit_project_bidder_path(@project,bidder), :title => 'modifier'
              = link_to image_tag('trash.gif', :border => 0), project_bidder_path(@project,bidder), :method => 'delete', :title => 'supprimer', :confirm => 'Êtes-vous sûr?'
            