-content_for :header do
  -if params[:collection] == 'call'
    .left
      %h1 Liste des demandes
  -else
    =render :partial=>"projects/project_sub_nav"
    = #%h1 Liste des projets #{("'#{params[:tag]}'") unless params[:tag].blank?}
   

- content_for :full_content do
  = render :partial => "projects/list/#{params[:collection]}", :locals => {:projects => @projects}

= #content_for :sidebar do
= #render :partial => '/parties/tag_list', :locals => {:party_type => 'Project'}