%table.standard
  %tr
    %th{:style => 'width:30px'} &nbsp;
    %th= title
    %th{:style => 'width:100px'} Embauché le
    %th{:style => 'width:100px'} Suivi le
    %th{:style => 'width:100px'} Expire le
    %th{:style => 'width:100px'} À suivre le
  - members.each do |member|
    - if arr_competence = h[member.contact.id]
      - competence = arr_competence[0]
    %tr{:class => [competence ? competence_expiry_class(competence) : "none", cycle('odd', 'even', :name => title)].join(" ") , :style => ("display:none" unless competence)}
      %td
        .to_plan{:style => "display:none"}= check_box_tag "contacts[#{member.contact.id}]"
      %td= link_to member.full_name, hr_contact_path(member.contact)
      %td= member.contact.get_employee_info.hired_on
      - if competence
        %td= competence.course_date
        %td
          %span= competence.expires_on
        %td= competence.next_course_date
