%table.standard{:style => 'margin-bottom: 4px;'}
  %tr
    %th.right &nbsp;
    %th.right nb couvreurs
    %th.right Jours estimés
    %th &nbsp;
    %th.right Extra
    %th &nbsp;
    %th.right Exécutés
    %th &nbsp;
    %th.right Restants
  %tr
    %td=  "#{work_sheet.scheduled_time} hres"
    %td.right= f.text_field :team_size, :size => 4
    %td.right= "#{work_sheet.estimated_days}"
    %td.right +
    %td.right= f.text_field :extra_days, :size => 4
    %td.right -
    %td.right= "#{work_sheet.done_days} jours"
    %td.right =
    %td.right= "#{work_sheet.remaining_days} jours"

/ %span{:style => "margin-left:4px;font-family:Lucida Grande;font-size:11px"}=work_sheet.ideal_start_date
/ %br
.scheduled{:style => 'border-top: 1px solid #ccc;'}
  %table.standard
    %tr
      / %th Statut
      %th.right prochaine date cédulée:
      %th.right promesse?
      %th.right Date de fin planifiée:
    %tr
      / %td= f.select :state, WorkSheet.state_select_options( work_sheet.department )
      %td.right
        = f.calendar_date_select :scheduled_date, :size => 10
      %td.right
        = f.check_box :promised
      %td.right
        %span{:id => dom_id(work_sheet, 'end_date')}= work_sheet.planned_end_date
        
  / %span{:style => 'display:inline-block; width:33%'}
  /   Statut
  /   = f.select :state, WorkSheet.state_select_options( work_sheet.department )
  / %span{:style => 'display:inline-block; text-align: right; width:100%'}
  /   prochaine date cédulée:
  /   = f.calendar_date_select :scheduled_date, :size => 10
  /   promesse?
  /   = f.check_box :promised
  /   / %span{:style => 'display:inline-block; text-align: right; width:66%'}
  /   Date de fin planifiée:
  /   = work_sheet.planned_end_date
  / %br
  / fin
  / = f.calendar_date_select :scheduled_end_date, :size => 10
