Note:
= link_to_function "(modifier)", "$('work_sheets_#{work_sheet.id}_result_description').toggle()"
= f.text_area :result_description, :rows => 3, :style => "width:100%;display:none", :id => "work_sheets_#{work_sheet.id}_result_description"
= simple_format work_sheet.result_description
