%table.standard
  %tr
    %th= "#{work_sheet.area} pc"
    %th= work_sheet.technology
  %tr
    %th Chargé de projet
    %td= f.select :project_manager_id, project_manager_select_options
  %tr
    %th Chef d'équipe
    %td= select_tag "work_sheet[foreman_id]", grouped_options_for_select(grouped_foreman_select_options, work_sheet.foreman_id, "choisir un chef...")
  %tr
    %th Statut
    %td= f.select :state, WorkSheet.state_select_options( work_sheet.department )
