%div{:id => dom_id(work_sheet)}
  - remote_form_for work_sheet, :url => project_schedule_url(:id => work_sheet.id), :method => :put, :loading => "$('loader_#{work_sheet.id}').show();", :complete => "$('loader_#{work_sheet.id}').hide();" do |f|
    / = hidden_field_tag :user_id, params[:user_id]
    / = hidden_field_tag :grouped_by, params[:grouped_by]
    %table.standard          
        
      / - fields_for "work_sheets[#{work_sheet.id}]", work_sheet do |f|
      - tr_class = cycle('odd', 'even')
      %tr{:class => tr_class, :style => "border-bottom:none; background-color: #CCC"}
        %td{:colspan => 8, :style => "border-top:none"}
          %span{:style => 'float:right'}= "#{work_sheet.scheduled_date.localize(:short) if work_sheet.scheduled_date} - #{work_sheet.planned_end_date.localize(:short) if work_sheet.planned_end_date}"
          = link_to work_sheet.full_display_name, project_work_sheet_url(work_sheet.project, work_sheet), :style => 'color:black; font-weight: bold'
      %tr{:class => tr_class, :style => "border-bottom:none"}
        %td{:colspan => 8}
          %table.standard
            %tr
              %td{:style => 'width:50%'}
                = render :partial => '/project_schedule/edit_info', :locals => {:f => f, :work_sheet => work_sheet, :project_manager_select_options => project_manager_select_options}
            
              %td{:style => 'width:50%'}
                = render :partial => '/project_schedule/edit_days', :locals => {:f => f, :work_sheet => work_sheet}
          
      %tr{:class => tr_class, :style => "border-top:none;"}
        %td{:colspan => 8, :style => "border-top:none; padding-bottom: 12px"}
          %div{:style => 'float:right; font-size: 11px'}
            dernière mise-à-jour:
            = work_sheet.updated_at.to_date.localize
            %span{:style => 'margin-left: 20px'}
              = link_to_function "fermer",  "new Effect.toggle('edit_work_sheet_#{work_sheet.id}', 'slide', {duration: 0.3})", :class => "action"
            - if current_user.has_permission?("update_schedule")
              %span{:style => 'margin-left: 20px'}
                = submit_tag 'sauver', :style => 'margin-top: 5px'
                = image_tag "loader.gif", :id => "loader_#{work_sheet.id}", :style => "display:none;"

          = render :partial => '/project_schedule/edit_note', :locals => {:f => f, :work_sheet => work_sheet}
      
          - if work_sheet.interventions.size > 0
            = link_to_function "afficher les interventions", "$('#{dom_id(work_sheet, 'interventions')}').toggle()"
            .section{:id => dom_id(work_sheet, 'interventions'), :style => 'display:none'}
              %div{:style=>'max-height: 150px; overflow-y: scroll'}
                - @work_sheet = work_sheet
                = render :partial => 'work_sheets/interventions', :locals => {:interventions => work_sheet.interventions, :editable => false}
