- @users.each do |user|
  .section{:style => 'page-break-after:always; margin-bottom: 20px;'}
    %h1{:style => 'text-align:center;'}
      - if user
        = "Avancement des travaux pour #{user.full_name} au #{Date.today.localize(:default)}"
      - else
        Bon de travails non attribués
    %table.standard
      %thead
        %tr
          %th
            Technologie
          %th
            Superficie
          %th
            = params[:grouped_by] == 'project_manager_id' ? "Chef d'équipe" : "Chargé de projet"
          %th
            Resp. documents
          %th
            Temps
          %th.right 
            estimés
          %th.right
            extra
          %th.right
            executés
          %th.right
            restants
          %th.right Date début
          %th.right Date fin
      %tbody
        - (@grouped_work_sheets[user ? user.id : nil] || []).each do |ws|
          - tr_class = cycle("odd","even")
          %tr{:class => tr_class, :style => "border:none"}
            %td{:colspan=>11}
              %strong
                = ws.contract_number
              %span{:style => 'text-decoration:underline;'}
                = ws.display_name
              = " (#{ws.project.state_name})"
          %tr{:class => tr_class, :style => "border:none"}
            %td
              = ws.technology
            %td
              = "#{ws.area} pc"
            %td
              - if params[:grouped_by] == 'project_manager_id'
                = ws.foreman
              - else
                = ws.project_manager
            %td
              = ws.documenter_name
            %td
              = ws.scheduled_time ? "#{ws.scheduled_time} hres" : ""
            %td.right
              = "#{ws.estimated_days} j"
            %td.right
              = "#{ws.extra_days} j"
            %td.right
              = "#{ws.done_days} j"
            %td.right
              = "#{ws.remaining_days} j"
            %td.right
              = ws.scheduled_date ? ws.scheduled_date.localize(:default) : ""
            %td.right
              = ws.scheduled_end_date ? ws.scheduled_end_date.localize(:default) : ""
          %tr{:class => tr_class}
            %td{:colspan=>11}= ws.result_description.blank? ? "" : "Note: #{ws.result_description}"