<%= render :partial => '/projects/page_header' %>

<div class='innercol'>

  <h1>Modifier bon de travail #<%= @work_sheet.id %></h1>

  <%= render :partial => 'form' %>

</div>

<% content_for :sidebar do %>
  <div class='new'>
    <%= link_to 'dupliquer', new_project_work_sheet_url(@project, :duplicate_id => @work_sheet.id), :class => 'new' %>
  </div>
  
    <% if current_user.has_permission?('destroy_work_sheets') && @work_sheet.destroyable? %>
    <div class='remove'>
      <%= link_to 'supprimer', project_work_sheet_path(@work_sheet.project, @work_sheet),
                  :class=>'button delete',
                  :confirm => "Êtes-vous certain de vouloir supprimer le bon de travail?",
                  :method => :delete %>
      </div>
    <% end %>
<% end -%>