<% if inside_global_work_sheet_list? %>
  <% header_class = (@project.nil? || @project.service?) ? 'service_header' : 'project_header' %>
  <div class='page_header <%= header_class %>'>
    <h1>Liste des bons de travail <%= ("'#{params[:tag]}'") unless params[:tag].blank? %></h1>
  </div>
  <div class='page_menu <%= header_class %>'>
    <%= tabnav :service %>
  </div>
<% else %>
  <%= render :partial => '/projects/page_header' %>
<% end -%>

<div class='innercol'>
  <% if inside_global_work_sheet_list? %>
  
    <%= pagination( @work_sheets ) if @work_sheets.total_pages > 1 %>
    <div style='font-size:14px;'>
    Total heures cédulées: <%= display_hours( @work_sheets_scope.sum(:scheduled_time) ) %>
    </div>
  <% end -%>
  <table class='standard'>
    <tr>
      <th style='width:100px;'>Status</th>
      <!-- <th width='100'>No<br /></th> -->
      <th style='width:70px;'>Date</th>
      <th style='width:70px;'>No</th>
      <th>Demande<br/>Prévision</th>
      <th style='width:40px;'></th>
    </tr>

  <% for work_sheet in @work_sheets %>
    <tr class='<%= cycle("odd","even") %>'>
      <td>
        <%=h work_sheet.state_name %>
        <br/>
        <%= work_sheet.invoices.length > 0 ? link_to("voir facture(s)", work_sheet_invoices_url(work_sheet) ) : "&nbsp;"%>
      </td>
      <td><%= work_sheet.created_at.to_date.localize %></td>
      <td>
        <strong><%= work_sheet.id %> - <%= work_sheet.project.call_number %></strong>
      </td>
      <td>
        <%= link_to work_sheet.display_name, project_work_sheet_path(work_sheet.project, work_sheet) %>
        <br />
        <%= display_hours(work_sheet.scheduled_time) %>
        <%=h( work_sheet.foreman.full_name) if work_sheet.foreman %>
      </td>
      <td><%= display_project_contract(work_sheet.project) %></td>
    </tr>
  <% end %>
  </table>
  
</div>

<% content_for :sidebar do %>

<% if @project && !@project.duplicate? %>
  <div class='new'>
    <%= link_to 'Nouveau bon de travail', new_project_work_sheet_path(@project), :class => :new %>
  </div>
<% end %>

  <% if inside_global_work_sheet_list? %>
    <h1>Filtrer</h1>
    <%= render :partial => 'list_filter' %>
  <% end -%>
  
<% end %>
