<%= render :partial => '/projects/page_header' %>

<div class='innercol'>
  <h1>      
    <%= link_to 'modifier', edit_project_work_sheet_path(@work_sheet.project, @work_sheet), :style=>'float:right;', :class=>'action' %>
    <%=(@work_sheet.has_intervention?) ? link_to("facturer!", work_sheet_invoices_url(@work_sheet), :style=>'float:right; padding-right: 10px;', :class=>'action' ) : "&nbsp;"%>
    Bon de travail #<%= @work_sheet.id %> (<%= @work_sheet.department_name %>)
  </h1>
  <p>
    status: <%= @work_sheet.state_name %><br/>
    # icc: <%= @work_sheet.contract_number %><br/>
    # appel: <%= @work_sheet.call_number %>
  </p>

  <table class='standard' style='border: 1px solid #AAA;'>
    <tr>
      <td style='width:50%;border-right: 1px solid #AAA;'>
        <table style='width:100%'>
          <tr>
            <td>
              <strong>NOM ET ADRESSE DU CHANTIER</strong><br/>
              <%= simple_format @work_sheet.building.address %>
            </td>
          </tr>
          <tr>
            <td style='width:100%;border-top: 1px solid #AAA;'>
              Hauteur: <%= @work_sheet.height %> pi.<br/>
              Superficie: <%= @work_sheet.area %> pi. ca.<br/>
              Type de travaux: <%= @work_sheet.work_type %><br/>
              Technologie: <%= @work_sheet.technology %><br/>
              <% if @work_sheet.project.contract %>
                Entente: <%= @work_sheet.project.contract.contract_type %><br/>
              <% end -%>
            </td>
          </tr>          
        </table>
      </td>
      <td style='width:50%;'>
        <strong>CONTACT CHANTIER</strong><br/>
        <%= simple_format @work_sheet.contact_on_site %>
        <strong>CONTACT INTERNE</strong><br/>
        <%= simple_format @work_sheet.contact_couture %>
      </td>
  </table>

  <h2>DESCRIPTION:</h2>
  <%= simple_format @work_sheet.description %>

  <div>
    <h1>Interventions</h1>
    <%= render :partial => 'interventions', :locals => {:interventions => @work_sheet.interventions, :editable => true} %>
  </div>
  
</div>

<% content_for :sidebar do %>
  <div class='new'>
    <%= link_to 'imprimer', project_work_sheet_path(@work_sheet.project, @work_sheet, :format => :pdf), :class => 'printer' %>
  </div>
  <div class='new'>
    <%= link_to 'Ajouter intervention', new_work_sheet_intervention_url(@work_sheet), :class => 'new' %>
  </div>
<% end -%>