- form_for([@work_sheet,@intervention]) do |f|
  %p
    %b Chef d'équipe:
    %br
    = f.select :foreman_id, User.to_select_options({:all_label => _("Choisir un chef d'équipe")}, Role.find_by_name("chef d'équipe").users.active)

  %p{:class => ('fieldWithErrors' if @intervention.errors.on(:date))}
    %b Date:
    %br
    = f.calendar_date_select :date
  
  %br
  .form-section{:style => "border: 1px solid #bbb; padding: 4px; margin-right: 20px"}
    = f.check_box :complete_time_sheet
    = f.label :complete_time_sheet, 'feuille de temps complété?'
    / .form-section
    = f.text_field :work_days, :size => 4
    = f.label :work_days, 'journée'
    / .form-section
    = f.text_field :work_time, :size => 4
    = f.label :work_time, 'hres'
    / .form-section
    = hidden_field_tag :date, params[:date]
  
  %br
  .form-section{:style => "border: 1px solid #bbb; padding: 4px; margin-right: 20px"}
    = f.check_box :completed
    = f.label :completed, "intervention complétée"
    %br
    Résultat:
    %br
    = f.text_area :result_description, :size => "60x7"
    %br
    = f.check_box :work_sheet_completed, :disabled => @intervention.work_sheet_completed
    = f.label :work_sheet_completed, "Bon de travail terminé"

  %p
    = form_submit
  