<div class='page_header service_header'>
  <h1>Liste des interventions</h1>
</div>
<div class='page_menu service_header'>
  <%= tabnav :service %>
</div>


<div class='innercol'>
  <%= pagination @interventions %>
  <table class='standard'>
    <tr>
      <th style='width:30px;'>&nbsp;</th>
      <th style='width:70px;'>Date</th>
      <th style='width:70px;'>No</th>
      <th>Demande</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>

  <% for intervention in @interventions %>
    <tr class='<%= cycle "odd","even" %>'>
      <td><%= image_tag( 'ok.png' ) if intervention.completed? %></td>
      <td><%= show_only_on_change( intervention.date.localize ) %></td>
      <% work_sheet = intervention.work_sheet %>
      <td>
        <strong><%= work_sheet.id %> - <%= work_sheet.project.call_number %></strong>
      </td>
      <td>
        <%= link_to work_sheet.project.display_name, project_work_sheet_path(work_sheet.project, work_sheet) %>
        <br />
        <% if intervention.work_time %>
          <%= display_hours( intervention.work_time) %> / <%= display_hours( intervention.scheduled_time) %>
        <% else %>
          <%= display_hours( intervention.scheduled_time) %>
        <% end -%>
        <%= intervention.foreman %>
      </td>
      <td><%= display_project_contract(work_sheet.project) %></td>
      <td><%= link_to image_tag('print.png', :border => :none), formatted_work_sheet_intervention_path(intervention.work_sheet, intervention, :pdf) %></td>
      <td><%= link_to image_tag('edit.png', :border => :none), edit_work_sheet_intervention_path(intervention.work_sheet,intervention) %></td>
    </tr>
  <% end %>
  </table>
  <%= pagination @interventions %>
</div>

<% content_for :sidebar do %>
  <h1>Filtre</h1>
  
  <div class='filter'>
    <% form_tag do %>
      <%= hidden_field_tag :_method, :get %>
      <table>
        <tr>
          <td>chef d'équipe:</td>
          <td>
            <%= select_tag "foreman_id", 
                        options_for_select( 
                          User.to_select_options({:all_label => _("tous les chefs d'équipe")}, 
                                  Role.find_by_name("chef d'équipe").users.active), 
                          params[:foreman_id].to_i
                        ) %>
          </td>
        </tr>
        <tr>
          <td>entre le:</td>
          <td><%= calendar_date_select_tag "min_date", params["min_date"], :size => 10 %></td>
        </tr>
        <tr>
          <td> et le</td>
          <td><%= calendar_date_select_tag "max_date", params["max_date"], :size => 10 %></td>
        </tr>
        <tr>
          <td>non complétée seulement</td>
          <td><%= check_box_tag "non_completed", "1", params["non_completed"] == "1" %></td>
        </tr>
        <tr>
          <td><%= submit_tag "Filtrer" %></td>
          <td></td>
        </tr>


      </table>
    <% end %>
  </div>
  
<% end -%>