.page_header
  %h1= "Concurator entre le #{params["min_date"]} et le #{params["max_date"]}"

.innercol
  .report_filter
    - form_tag do
      = hidden_field_tag :_method, :get
      soumission fermé entre le 
      = calendar_date_select_tag "min_date", params["min_date"], :size => 10
      et le 
      = calendar_date_select_tag "max_date", params["max_date"], :size => 10
      = submit_tag 'voir'
  
  - @competitors.each do |competitor, bids|
    .report_group
      %h1= competitor.name
      
      %table.standard
        %tr
          %th date
          %th projet
          %th.right prix gagnant
          %th.right notre prix
          / %th.right rang
          %th.right notre rang
          %th.right= "%"
        - bids.each do |bid|
          -alt_tr do
            %td= bid.project.close_quote_by.to_date.localize
            %td
              = link_to bid.project.name, project_calls_path(bid.project)
              = "(#{bid.project.state_name})"
            %td.right= number_to_currency bid.bid
            %td.right= number_to_currency bid.project.quoted_amount
            / %td.right= bid.position
            %td.right= bid.project.bid_position
            %td.right= number_to_percentage( (bid.project.quoted_amount - bid.bid) / bid.project.quoted_amount * 100.0 )
        - alt_tr({:style => 'font-size: 110%'}) do
          %td &nbsp;
          %td
            %strong TOTAL
          %td.right= number_to_currency bids.sum(&:bid)