.page_header
  %h1= "Concurator: projets gagnés, soumissionnés entre le #{params["min_date"]} et le #{params["max_date"]}"

.innercol
  .report_filter
    - form_tag do
      = hidden_field_tag :_method, :get
      soumission fermé entre le 
      = calendar_date_select_tag "min_date", params["min_date"], :size => 10
      et le 
      = calendar_date_select_tag "max_date", params["max_date"], :size => 10
      = submit_tag 'voir'

  .report_group
    %table.standard
      %tr
        %th date
        %th projet
        %th.right notre prix
        %th.right 2e prix
        %th.right diff $
        %th.right diff %
        %th.right competiteur
      - @projects.each do |project|
        -alt_tr do
          %td= project.close_quote_by.to_date.localize
          %td
            = link_to project.name, project_calls_path(project)
            = "(#{project.state_name})"
          %td.right= number_to_currency project.quoted_amount
          %td.right= number_to_currency project.bidders[0].bid
          %td.right= number_to_currency (project.bidders[0].bid - project.quoted_amount)
          %td.right= number_to_percentage( (project.bidders[0].bid - project.quoted_amount) / project.quoted_amount * 100.0) rescue 0.0
          %td.right= project.bidders[0].company.name
      - alt_tr({:style => 'font-size: 110%'}) do
        %td &nbsp;
        %td
          %strong TOTAL
        %td.right= number_to_currency( quote_sum = @projects.sum(&:quoted_amount) )
        %td.right= number_to_currency( bids_sum = @projects.collect {|p| p.bidders[0].bid }.sum )
        %td.right= number_to_currency( bids_sum - quote_sum )
        %td.right= number_to_percentage( (bids_sum - quote_sum) / quote_sum * 100.0 ) rescue 0.0