%tr.hoverable{:id => dom_id(entry)}
  %td.right
    = time_entry( entry.time )
  %td
    - if entry.category
      %span.category= entry.category.to_s
  %td= entry.project.display_name if entry.project
  %td= entry.date
  %td{:style=> 'width:40px'}
    %span.on-hover
      = link_to_remote image_tag('trash.gif'), :url => time_entry_url(entry), :method => 'delete', :confirm => 'êtes-vous sûrs?'