.page_header
  %h1 Temps par projet

.innercol
  .report_filter
    - form_tag do
      = hidden_field_tag :_method, :get
      Grouper par: 
      = select_tag "group", options_for_select(stats_group, params[:group])
      = submit_tag 'grouper'
  
  - @grouped_projects.each do |group, projects|
    %h1= group
    = render :partial => 'group_table', :locals => {:projects => projects}
      
