#Header
  .left
    #Logo
      C<span class="super">3</span>
  .left
    #QuickLinks
      %ul{:class=>"list-h"}
        %li
          .link.menu.w-hoverexpandable.pos-rel
            %span{:class=>"label T"} Créer
            .when-hover.w-menu-v
              %ul
                - if current_user.has_permission?('create_calls')
                  %li= link_to "Nouvelle demande", new_call_path
                %li= link_to "Nouveau contact", new_contact_path
                %li= link_to "Nouvelle compagnie", new_company_path
                %li= link_to "Nouvel immeuble", new_building_path

        %li{:class=>"projects"}
          .link.menu.w-hoverexpandable.pos-re
            %span{:class=>"label T"} Projets
            .when-hover.w-menu-v
              %ul
                %li Something
        %li{:class=>"contacts"}
          .link.menu.w-hoverexpandable.pos-rel
            %span{:class=>"label T"} Contacts
            .when-hover.w-menu-v
              %ul
                %li Something...
        %li
          %span{:class=>"link"}
            = link_to "Rapports", '/reports/list'
        %li
          %span{:class=>"link"}
            = link_to "Tâches", tasks_path
            
  .right
    #UserBar
      %ul{:class=>"list-h"}
        - if current_user.has_permission?('access_configs')
          %li
            %span{:class=>"link"}
              = link_to "Paramètres", configs_list_path
        - if current_user.can_create_users?
          %li
            %span{:class=>"link"}
              = link_to "Utilisateurs", users_path
        %li
          %span{:class=>"link"}
            = link_to "Support", zendesk_auth_path
        %li
          %span{:class=>"link action"}
            = link_to "Quitter", logout_path
            
  .clearer &nbsp;