- grouped_events = calendar.events.group_by {|e| e.date.to_date}
- calendar.date_range.each do |day|
  - events = grouped_events[day] || []
  - if events.size > 0
    .day
      %strong.title{:class => calendar_classes_for(day) }= day.localize(:short_day)
      - if (h = CompanyCalendar.holiday_on( day )).present?
        .holiday_name= h.name
      %ul
        - events.sort_by(&:date).each do |event|
          - project = event.project
          %li{:class => calendar_classes_for(day) }
            .project.hoverable{:class => [(event.done? ? 'to_quote' : 'quoted'), event.event_type ].join(" ")}
              / .time= event.date.strftime("%H:%M") if event.date
              %span.name
                = link_to "[#{project.quote_number}]", project_path(project)
                = "#{project.contract_number} - " if project.contract_number.present?
                - if project.bsdq_date?
                  %span.bsdq BSDQ
                - t = event.date.strftime("%H:%M")
                - if t != "00:00"
                  %strong.time= t
                = project.display_name

                - if event.user != current_user
                  %span.estimator
                    - if event.event_type == 'visite' && event.user != project.estimator
                      == #{event.event_type} : #{event.user}
                      %br
                      == estimateur: #{project.estimator}
                    - else
                      = event.user
