%div
  = error_messages(@absence)
  = f.hidden_field :employee_id
  = f.label :start_date, "Date:"
  = std_calendar_date_field :absence, :start_date
  = f.label :end_date, "Fin:"
  = std_calendar_date_field :absence, :end_date
  = f.label :days, "nb jours:"
  = f.text_field :days, :size => 3
  %br
  = f.label :reason_id, "Raison:"
  = f.select :reason_id, AbsenceType.all.collect {|c| [c.name, c.id] }
  %br
  = f.label :note, "Note:"
  = f.text_field :note, :style => "width:80%"
  %br
  = f.check_box :justified
  = f.label :justified, "justifié"
  = submit_tag 'sauver absence'
