<div class='page_header'>
  <h1><%= _("Édition") %></h1>
</div>
<div class='innercol'>
  
  <%= error_messages @object %>

  <% form_for( object, :url => object_path(@object), :html => { :method => :put }) do |f| %>
    <p>
      <b><%= _("Nom") %></b><br />
      <%= f.text_field :name %>
    </p>

    <%= form_submit %>
  <% end %>

</div>