<div class='page_header'>
  <h1><%= @config_title %> </h1>
</div>
<div class='innercol'>

  <table class='standard'>
    <tr>
      <th><%= _("Nom") %></th>
      <th></th>
      <th></th>
    </tr>
  
  <% for object in collection %>
    <tr>
      <td><%=h object.name %></td>
      <!-- <td><%#= link_to 'Show', object_path(object) %></td> -->
      <td><%= link_to _('Modifier'), edit_object_path(object) %></td>
      <td><%= link_to _('Détruire'), object_path(object), :confirm => _('Êtes-vous sûr?'), :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to _('Ajouter'), new_object_path %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'config/list' %>
<% end %>