<div class='page_header'>
  <h1><%= @config_title %></h1>
</div>
<div class='innercol'>

  <%= error_messages @object %>

  <% form_for( object, :url => collection_path) do |f| %>
    <p>
      <b><%= _("Nom") %></b><br />
      <%= f.text_field :name %>
    </p>

    <%= form_submit %>
  <% end %>

</div>