= party_page_header @contact

.innercol
  %h1== Mis-à-jour du cours #{@competence.course.name}
  - form_for([@contact, @competence]) do |f|
    %div
      = error_messages(@competence)
      = f.label :course_date, "Suivi le:"
      = std_calendar_date_field :competence, :course_date
      = f.label :expires_on, "Expire le:"
      = std_calendar_date_field :competence, :expires_on
      = f.label :next_course_date, "À suivre le:"
      = std_calendar_date_field :competence, :next_course_date
      %br
      = f.label :note, "Note:&nbsp;&nbsp;"
      = f.text_area :note, :size => '65x3'
      
    = submit_tag 'Sauver'
  #competence_audit
    %h1 Historique
    %table.standard
      %tr
        %th Suivi le
        %th Expire le
        %th À suivre le
        - @competence.audits.each do |audit|
          %tr{:class => cycle('odd', 'even') }
            %td= audit.course_date
            %td= audit.expires_on
            %td= audit.next_course_date
