%tr{:id => dom_id(ir), :class => "roofer hoverable #{ir.status} roofer_#{ir.roofer_id}"}
  - fields_for 'roofers[]', ir do |f|
    %td
      %span.on-hover
        = link_to_remote image_tag('trash.gif'), :url => {:action => 'delete_intervention_roofer', :id => ir}, :confirm => "Enlever #{ir.roofer}?" 
      %span.employee_number
        = ir.roofer.employee_number
      %span.name
        = ir.roofer.name_and_level
    %td
      .on-non-edit
        = ir.condition
        - if absence = ir.absence
          == (#{"absence planifiée:" if ir.planned_absence?} #{absence.reason}, #{absence.note}, #{absence.days} j)
      .on-edit
        - if ir.planned_absence?
          absence planifiée
          = f.hidden_field :status
        - else
          %span{:style => "background-color: #ddd; padding: 4px 2px; margin-right: 6px;"}
            = f.select :status, ['planned','present', 'absent'].map {|v| [t(v, :scope => :intervention_roofer),v] }, {}, {:id => dom_id(ir, 'presence'), :onchange => "el = $('#{dom_id(ir, 'absence')}'); el.removeClassName('planned'); el.removeClassName('present'); el.removeClassName('absent'); el.addClassName(this.value);" }
          = f.select :condition_id, select_options_from_table(RooferInterventionCondition, :all_label => 'déplacement ...')
          %br
          %span.on-absent{:id => dom_id(ir, 'absence'), :style => "background-color: #ddd; padding: 4px 2px;", :class => ir.status}
            - f.fields_for :absence, (ir.absence || ir.build_absence(:employee_id => ir.roofer.contact.id, :start_date => params[:date])), :index => ir.id do |fa|
              = fa.hidden_field :start_date
              = fa.hidden_field :employee_id
              = fa.select :reason_id, select_options_from_table(AbsenceType, :all_label => 'choisir une raison...'), {},  {:style => 'width: 140px;', :onchange => "$('#{dom_id(ir, 'presence')}').value = 'absent';"}
              %br
              Note:
              = fa.text_field :note, :size => 35
              %br
              = fa.text_field :days, :size => 3
              j
              = fa.check_box :justified
              = fa.label :justified, 'justifié?'

:javascript
  check_double('.roofer_#{ir.roofer_id}');
