%div{:id => dom_id(@intervention.foreman, 'new_intervention_form')}
  %h1= "Nouvelle intervention pour #{@intervention.foreman} le #{@intervention.date.localize}"

  = error_messages_for :intervention

  - remote_form_for(@intervention, :url => {:action => 'add_intervention'}) do |f|
    = f.hidden_field :foreman_id
    = f.hidden_field :date
    / %br
    / %p{:style =>'font-size: 16px;'}
    /   %b Temps prévu:
    /   = f.text_field :scheduled_time, :size => '5'
    /   h
    / %p{:style=>'font-size: 16px;'}
    /   %b Option de facturation:
    /   = f.select :invoice_type, Intervention.invoice_type_select_options
    / %br
    
    %b Bon de travail:
    %br
    %div{:style => 'height:350px;width:96%;overflow:auto;margin-bottom:10px;padding:10px;border:1px solid #DDD;background-color:#EFEFEF;'}
      - for category in @work_sheets
        %h2= category[0]
        %table.standard
          - for work_sheet in category[1]
            %tr
              %td{:rowspan => 2}
                = f.radio_button :work_sheet_id, work_sheet.id
              %td
                %span{:style => 'float:right'}= "#{work_sheet.scheduled_date.localize(:short) if work_sheet.scheduled_date} - #{work_sheet.scheduled_end_date.localize(:short) if work_sheet.scheduled_end_date}"
                = display_work_sheet(work_sheet)
            %tr{:style => "border-bottom: 1px solid #AAA"}
              %td
                %span{:style => 'float:right; font-family:monospace; font-size:10px;'}
                  = work_sheet.interventions.length > 0 ? "derniere intervention #{ work_sheet.interventions.last.date.localize() }" : ""
                = work_sheet.scheduled_time ? display_hours( work_sheet.scheduled_time) : ""
  
    .submit
      = f.submit "Sauver"
      ou
      = link_to_function 'annuler', "$('#{dom_id(@intervention.foreman, 'new_intervention_form')}').remove();"