- @tasks = Task.for_user(211).calendar.find(:all, :conditions => ['scheduled_at >= ?', Time.now.beginning_of_month])

- calendar_for(@tasks, :html => {:class => 'standard'}) do |t|
  = t.head('dim', 'lun', 'mar', 'mer', 'jeu', 'ven', 'sam')
  - t.day(:day_method => :scheduled_at) do |day, tasks| 
    = day.day
    - tasks.each do |item|
      %div{ :id => dom_id(item) }
        = check_box_tag "", "", false, :onclick => remote_function( { :update => dom_id(item,'edit'), :url => complete_form_task_url( item ), :method => :get } ), :id => dom_id(item,'complete_check')
        /= content_tag('span', item.category.name, :class => 'category') if item.category
        %span.date= item.scheduled_date.to_s
        = " - " unless item.scheduled_date.to_s.blank?
        = item.body
        = "(Re: #{link_to( item.party.name, item.party)})" if @context != "Party" && item.party
        - if @context != "Project" && item.project
          %br
          %strong Projet:
          = link_to item.project.display_name, project_url(item.project)
          - if item.project.estimator
            %span.estimator= "(#{item.project.estimator})"
        = link_to_remote( image_tag("edit.png", :border => 0, :alt => _("Modifier")), {  :update => dom_id(item,'edit'), :url => edit_task_url( item ), :method => :get }, { :class => 'img' } ) 
        %div{ :id => dom_id(item,'edit') }

    / %ul
    /   - tasks.each do |task|
    /     %li= h(task.body)
