!!! Strict
%html
  %head
    %title C3
    %meta{ "http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
    = javascript_include_tag "jquery/jquery.qtip-1.0.0-rc3.min" , :cache=>"jquery"
    = javascript_include_tag "design/extend-2.2.8.min", "design/wallpaper", "design/c3" , :cache=>"design"
    %script{:type=>"text/javascript"}
      jQuery.noConflict();
    = javascript_include_tag "global", :defaults, 'calendar', 'calendar-fr', 'calendar-setup', 'fuzzy_date_select', 'dragdropextra', :cache => true
    
    = stylesheet_link_tag "design/reset", "design/base", "design/wallpaper", "design/c3", "global", "sidebar_actions", :media => "all", :cache=>"design"
    = "<!--[if lte IE 7]>#{stylesheet_link_tag "design/c3-ie7"}<![endif]-->"
  
    = stylesheet_link_tag "report",'calendar-system', :media => 'all', :cache => true 
    = stylesheet_link_tag "print", :media => 'print'

    = calendar_date_select_includes "silver", :locale => 'fr'
    = yield :additional_headers
