= render :partial => '/layouts/header'

%body{:class=>"use-wallpaper"}
  .Page
    = #render :partial => '/layouts/ie_warning'
    -# HEADER
    .header
      = render :partial => '/layouts/header/small_top_nav'
      - unless @layout_hide_navigation
        = render :partial => "/layouts/header/global_search"
        = render :partial => "/layouts/header/global_nav"
    -# MAIN SECTION
    #Content.body 
      - header = yield :header
      - if header
        .header
          .body
            = header
            .clearer &nbsp;
          .clearer &nbsp;
      #SubNavigationOverlay.hidden
        .body
          .section.hidden{:name=>"projects"}
            = render :partial=>"/projects/project_sub_nav"
          .section.hidden{:name=>"tickets"}
            = #render :partial=>"/layouts/header/project_sub_nav"
          .section.hidden{:name=>"schedule"}
            = #render :partial=>"/layouts/header/project_sub_nav"
      .body
        .content-mainbar.span-66p
          - filtre = yield :filtre
          - if filtre
            .body
              = filtre
          - full_content = yield :full_content
          - if !full_content
            .body= @content_for_layout
        - sidebar = yield :sidebar 
        - if (sidebar)
          .content-sidebar.span-33p
            .body
              = sidebar
              .clearer &nbsp;
        .clearer
    - if full_content
      #Details
        .content-details.clear
          .body
            = full_content 
            .clearer &nbsp;
    = render :partial => '/layouts/footer'