= render :partial => '/layouts/header'

%body{:class=>"use-wallpaper"}
  .Page
    = render :partial => '/layouts/ie_warning'
    -# HEADER
    .header
      = render :partial => '/layouts/header/small_top_nav'
      - unless @layout_hide_navigation
        = render :partial => "/layouts/header/global_search"
        = render :partial => "/layouts/header/global_nav"


    -# MAIN SECTION
    #Content.body 
      = @content_for_layout
  
    = render :partial => '/layouts/footer'